<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Web Service Application - Home</title>
</head>
<body>
<h1>Hello - {{message}}</h1>
<nav>
    <a href="/products">Product Management</a><br>
    <a href="/api/info">Service Info API</a><br>
    <a href="/api/products">Products API</a><br>
    <a href="/h2-console">Database Administration</a><br>
    <a href="/actuator">Actuator</a><br>
    <a href="/actuator/health">Actuator Status</a><br>
</nav>
</body>
</html>